<section 
  class="landing-section bg-black h-screen w-full text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">View Inventory</p>
    </header>
    
    <footer class="flex flex-grow justify-end flex-col pb-24">
      <div class="gap-x-6 flex mx-auto">
        <a class="text-white rounded border-none border-[3px] font-sm px-20 py-2 inline-block 
        bg-[#171a20cc]" href="#">Order Now</a>

        <a class="text-black rounded border-none border-[3px] font-sm px-20 py-2 inline-block 
        bg-[#f4f4f4a6]" href="#">Demo Drive</a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="/Model-Y.avif" class="object-center object-cover h-full w-full" alt="Model Y" />
  </div>
</section>